body {
    background-color: #DCDCDC;
    /* background: url('/static/img/black_paper.jpg'); */
    /* color: #FDFDFD; */
    color: #010101;
    font-size: 13px;
}

.betapass {
    background: url('/static/img/ist6.jpeg') no-repeat center center fixed;
    /* background: url('/static/img/black_paper.jpg'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h2, h3, h4, h5 {
    color: #FDFDFD;
    text-shadow: 2px 1px #010101;
}

.cizdir {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 10px;
}

.blacktext {
    color: #010101;
    text-shadow: 2px 1px #FDFDFD;
}

p {
    font-weight: 400;
    color: #FDFDFD;
    font-size: 18px;
    /* text-shadow: 1px 1px #FDFDFD; */
    text-shadow: 2px 1px #010101;
}

.logo {
    width: 200px;
}


/* .boxhome { */
/*     padding: 10px; */
/*     background-color: rgba(255, 255, 255, 0.2); */
/*     -webkit-border-radius: 10px; */
/*     border-radius: 10px; */
/* } */

.box {
    margin: auto;
    /* display: block; */
    padding: 30px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

#harita {
    height: 360px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 20px solid rgba(0, 0, 0, 0.8);
    /* border-top: 20px solid rgba(0, 0, 0, 0.8); */
    margin-top: 20px;
}

#topbar {
    height: 120px;
    background: url('/static/img/black_paper.jpg');
    background-color: rgba(0, 0, 0, 0.7);
}

#topbar .logo {
    display: block;
    position: absolute;
    top: 35px;
    margin: auto;
    width: 60px;
}

#topbar .btn {
    width: 200px;
    height: 30px;
    line-height: 28px;
    margin-top: 45px;
}

i {
    padding: 10px;
}

.imgHover {
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0px;
    position: relative;
}
.imgHover .hover {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 2;
}

.picdata {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
    color: #FDFDFD;
    text-shadow: 2px 1px #010101;
}

.bot {
    line-height: 14px;
    font-size: 14px;
    bottom: 10px;
}

.bot i {
    padding: 0px;
}