/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

body {
    background: url('/static/img/black_paper.jpg');
    color: #DDDDDD;
    font-size: 13px;
}

h3, h4, h5 {
    color: #FDFDFD;
    text-shadow: 2px 1px #000;
}

#header {
    padding: 20px 0px;
}

.center h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.sidebar-buttons {
    display: block;
    width: 200px;
    margin: 5px;
}

.two.columns > img {
    position: absolute;
    margin-top: 25px;
}

.cizdir {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.map-canvas {
    margin-top: 15px;
    min-height: 200px;
    min-width: 270px;
    height: 100%
    background-color: white;
}

.bolme {
    background-color: rgba(100, 100, 100, 0.1);
    border: 1px solid rgba(200, 200, 200, 0.2);
    padding: 15px;
    margin-bottom: 25px;
    min-height: 200px;
}

/* table { */
/*     table-layout: fixed; */
/*     width: 100%; */
/* } */

table.small {
    width: 60%;
}

tr th {
    font-weight: bold;
}

tr td {
    font-size: 13px;
    text-shadow: 2px 2px black;
}

.kalin {
    font-weight: bold;
}

p {
    font-size: 13px;
    text-shadow: 2px 2px black;
}

.btn.small, .skiplink.small {
    font-size: 0.725rem;
    height: 30px;
    line-height: 28px;
}

ul {
    padding-left: 15px;
}

li {
    list-style: square;
    font-size: 15px;
}

.green {
    color: #80E251;
}

.red {
    color: #D56060;
}

.orange {
    color: #F8CA70;
}

.gray {
    color: #EEEEEE;
}

.blue {
    color: #5B9EDE;
}

.text {
    font-size: 13px;
    color: white;
}

a {
    color: white;
    font-weight: bold;
}

a:hover {
    color: white;
    font-weight: bold;
}