<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en" itemscope itemtype="http://schema.org/Product"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title> Enforce Management </title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="humans.txt">

  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

  <!-- Facebook Metadata /-->
  <meta property="fb:page_id" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content=""/>
  <meta property="og:title" content=""/>

  <!-- Google+ Metadata /-->
  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
       However, there is a blank style.css in the css directory should you prefer -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gumby.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>

  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYFCZQXCFhrfPLQf0tQqScS0AZbqv4k8A&sensor=false">
  </script>

  <script src="{{ url_for('static', filename='js/libs/modernizr-2.6.2.min.js') }}"></script>
</head>

<body>

  <div class="container">
    <div id="header">
      <div class="row cizdir">
        <div class="eight columns">
          <h3> ENFORCE Management Dashboard </h3>
          <h5> Ankara Buyuksehir Belediyesi :: Management Panel</h5>
        </div>
        <div class="four columns right">
          <br />
          <div class="small primary btn"><a href="#">Assignments</a></div>
          <div class="small primary btn"><a href="#">Statistics</a></div>
          <div class="small primary btn"><a href="#">Sign Out</a></div>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <canvas id="bycategory" width="220" height="200"></canvas>
        </div>

        <div class="two columns">
          <h5>By Category</h5>
          <ul>
            <li class="orange"> <span class="text">Traffic</span> </li>
            <li class="green"> <span class="text">Environment</span> </li>
            <li class="red"> <span class="text">Infrastructure</span> </li>
            <li class="blue"> <span class="text">Disability Rights</span> </li>
            <li class="gray"> <span class="text">Other</span> </li>
          </ul>
        </div>

        <div class="four columns push_one">
          <canvas id="bymonths" width="270" height="200"></canvas>
        </div>

        <div class="two columns">
          <h5>By Months</h5>
          <ul>
            <li class="orange"> <span class="text">Traffic</span> </li>
            <li class="green"> <span class="text">Environment</span> </li>
            <li class="red"> <span class="text">Infrastructure</span> </li>
          </ul>
        </div>
      </div>
      <div class="row center cizdir">
        See <a href="#">statistics</a> page for deeper informations.
      </div>

      <div class="row">
        <div class="six columns">
          <div class="small secondary btn"><a href="#">Last 10 Complaint</a></div>
          <div class="small secondary btn"><a href="#">Top 10 Complaint</a></div>
        </div>

        <div class="six columns right">
          <div class="small warning btn"><a href="#">Traffic</a></div>
          <div class="small warning btn"><a href="#">Environment</a></div>
          <div class="small warning btn"><a href="#">Infrastructure</a></div>
          <div class="small warning btn"><a href="#">Disability Rights</a></div>
        </div>
      </div>
    </div>

    <div id="main">
      {% for item in items %}
      <div class="row bolme">
        <div class="two columns">
          {% for pic in item.pics %}
            <img src="http://en4s.msimav.net{{ pic }}"
                 width="120" height="160" />
          {% endfor %}
        </div>

        <div class="six columns">
          <h4>{{ item.title }}</h4>
          <table class="small">
            <tr>
              <td>Upvote Count</td>
              <td>: {{ item.upvote_count }}</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>: {{ item.date }}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>: {{ item.city }}</td>
            </tr>
            <tr>
              <td>Category</td>
              <td>: {{ item.category }}</td>
            </tr>
          </table>
          <p>
            Address <br />
            {{ item.address }}
          </p>
        </div>

        <div class="three columns map-canvas">
          <div id="{{item._id}}" class="map-canvas"></div>
          <script type="text/javascript">
            var map;
            function initialize() {
                var latlong = new google.maps.LatLng({{item.location.0}}, {{item.location.1}});
                var mapOptions = {
                    zoom: 16,
                    center: latlong,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("{{ item._id }}"),
                                          mapOptions);

                var positionMarker = new google.maps.Marker({
                    position: latlong,
                    map: map,
                });

            }

            google.maps.event.addDomListener(window, 'load', initialize);
          </script>
        </div>

        <div class="row">
          <div class="twelve columns">
            <br />
            <div class="small warning btn"><a href="#">Close</a></div>
            <div class="small warning btn"><a href="#">Assign</a></div>
            <div class="small warning btn"><a href="#">Wontfix</a></div>
          </div>

        </div>
      </div>
      {% endfor %}

      <div class="twelve columns">
      </div>
    </div> <!-- end of main -->

  </div> <!--! end of #container -->

  <script type="text/javascript">
    // data
    var data = [
	{
		value: 10,
		color:"#5B9EDE"
            // mavi
	},
	{
		value : 20,
		color : "#EEEEEE"
            // gri
	},
	{
		value : 25,
		color : "#D56060"
            // kirmizi
	},
	{
		value : 40,
		color : "#80E251"
            // yesil

	},
	{
		value : 55,
		color : "#F8CA70"
            // turuncu
	}
    ]

    //Get the context of the canvas element we want to select
    var ctx = document.getElementById("bycategory").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(data);


    var datamonths = {
        labels : ["January", "February", "March"],
        datasets : [
            {
                fillColor : "#F8CA70", // orange
                strokeColor : "#F9CB71",
                data : [65,59,90]
            },
            {
                fillColor : "#80E251", // green
                strokeColor : "#81E352",
                data : [45,39,70]
            },
            {
                fillColor : "#D56060", // red
                strokeColor : "#D66161",
                data : [28,48,40]
            }
        ]
    }

    var ctx = document.getElementById("bymonths").getContext("2d");
    var myNewChart = new Chart(ctx).Bar(datamonths);

  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


  <script src="{{ url_for('static', filename='js/libs/gumby.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>



  </body>
</html>
